body {
  margin: 0;
  // font-family: 'Bigelow Rules', cursive;
	font-family: 'Encode Sans Condensed', sans-serif;
	// font-family: 'Fira Sans Extra Condensed', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
